.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
  @include respond(phone) {
    transform: skewX(0);
  }

  &-shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }
  &-img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    backface-visibility: hidden;
    opacity: 0;
  }

  &:hover &-caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    
  }

  &:hover &-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &-text {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0);
    }
  }
}
